<div>
  <% if !user_signed_in? %>
    <div class="grid-rows-2">
      <h1 class="font-bold text-4xl text-black mb-6">
        Welcome to the Expensor app!
      </h1>
      <h2>
        Please sign in or sign up to continue
      </h2>
      <div class="grid-rows-2 mt-5">
        <%= link_to "Sign in", new_user_session_path, class: 'inline-block bg-orange-600 text-white text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent hover:bg-orange-500 mt-4 lg:mt-0' %>
        <%= link_to "Sign up", new_user_registration_path, class: 'inline-block bg-orange-600 text-white text-sm px-4 py-2 leading-none border rounded border-white hover:border-transparent hover:bg-orange-500 mt-4 lg:mt-0 mr-6' %>
      </div>
    </div>
  <% end %>
</div>